################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Adressdaten/obj/Debug/net6.0
/Adressdaten/obj
/.vs/Adressverwaltung/v17
